<div class="info-card shadow-sm">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="fw-semibold">{{'INFO.INPUT' | translate}}</h5>
    <button class="btn btn-secondary btn-sm" (click)="clearAllInput()">{{"SHARED.BUTTON.CLEAR" | translate}}</button>
  </div>

  <table class="table table-bordered table-sm align-middle">
    <thead>
    <tr>
      @for (field of inputFieldList; track field) {
        <th [innerHTML]="'TABLE.' + field.toUpperCase() | translate"></th>
      }
    </tr>
    </thead>
    <tbody>
      @for(row of inputRows(); let i = $index; track row.stage){
        <tr>
          @for (property of inputFieldList; track property){
            @if(property === INPUT_TABLE_FIELDS.R_NOM_IN || property === INPUT_TABLE_FIELDS.R_NOM_OUT){
              <td>
                <div class="input-group">
                  <input class="form-control form-control-sm" type="number" min="0" step="0.1" placeholder="Введите значение"
                         [value]="row[property]"
                         (input)="updateCell(i, property, $any($event.target).value)"/>
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="updateCell(i, property, '')">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </td>
            } @else {
              <td>{{row[property]}}</td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
  <button class="btn btn-primary btn-sm " [disabled]="!canCalculate()" (click)="calculateAll()">{{'BUTTON.CALCULATE' | translate}}</button>
</div>

<div class="info-card shadow-sm">
  <h6 class="fw-semibold">{{'INFO.CONSTANTS' | translate}}</h6>
  <div class="d-flex flex-row gap-5 flex-wrap">
    <span [innerHTML]="'CONSTANTS.TOLERANCE' | translate: {value: getTolerance(izdelieType())}"></span>
    <span [innerHTML]="'CONSTANTS.H-SET' | translate: {value: getPhysicalConstants().hSet}"></span>
    <span [innerHTML]="'CONSTANTS.H-MEASURED' | translate: {value: getPhysicalConstants().hMeasured}"></span>
  </div>
</div>

<div class="info-card shadow-sm">
  <h5 class="fw-semibold">{{'INFO.RESULT' | translate}}</h5>
  <table class="table table-bordered table-sm align-middle">
    <thead>
    <tr>
      @for (field of outputFieldList; track field) {
        <th [innerHTML]="'TABLE.' + field.toUpperCase() | translate"></th>
      }
    </tr>
    </thead>
    <tbody>
      @for(row of outputRows(); track row.stage){
        <tr>
          @for (property of outputFieldList; track property){
              <td>
                @if (property === OUTPUT_TABLE_FIELDS.ANGLE) {
                  {{ formatAngle(row.angle) }}
                } @else {
                  {{ row[property] }}
                }
              </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>


