:host{
  width: 60%;
}

.info-card{
  background-color: var(--info-card-background);
  border: 1px solid var(--card-border-color);
  border-radius: 10px;
  padding: 10px;
}

.border-divider {
  color: #2e4a6a;
  font-weight: 400;
  user-select: none;
}
