<section class="d-flex flex-row m-1 my-3 p-1 h-100 overflow-auto">
  <div class="tree-container shadow-custom">
    <div class="tree-header">
      <h4 >Список изделий</h4>
    </div>

    <div class="tree-wrapper">
      <div class="tree">
        @for (product of products(); track product.id) {
          <div class="tree-node" [class.active]="isProductExpanded(product.id)" [class.open]="isProductExpanded(product.id)">
            <div class="tree-node-header" (click)="toggleProduct(product.id)">
              <span class="tree-toggle">▶</span>
              <span class="fw-semibold">{{product.nameFull}}</span>
            </div>
            <div class="tree-children">
              @for (part of product.parts; track part.id) {
                <div class="tree-child" [class.active]="selectedPart()?.id === part.id" (click)="selectPart(part, product)">
                  <span class="child-icon">▹</span>
                  <span class="flex-1">{{part.nameDisplay}}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-grow-1 overflow-auto h-100 align-items-center ">
    @if (selectedPart()) {
      <app-calculation-page
        class="d-flex flex-column gap-3"
        [product]="selectedProduct()!"
        [part]="selectedPart()!">
      </app-calculation-page>
    } @else {
      <div class="empty-card">
        <p class="fw-bold">{{'INFO.SELECT-PRODUCT' | translate}}</p>
        <div class="d-flex flex-row gap-3 arrow-hint">
          <i class="bi bi-arrow-left-circle fs-5 arrow-hint"></i>
          <span >{{'INFO.SELECT-IN-MENU' | translate}}</span>
        </div>

      </div>
    }
  </div>
</section>
