.about-section{
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  gap: 10px;
}

.development-card{
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(2,77,108,0.1);
}

.info-section{
  height: 100px;
}

.app-icon{
  height: 70px;
  width: 70px;
  object-fit: contain;
}



