<div class="modal-header d-flex justify-content-center dialog-header-config">
  <h3 class="m-0 text-center">{{'SHARED.DIALOG.SETTINGS.TITLE' | translate}}</h3>
</div>
<div class="modal-body d-flex flex-column dialog-body-config">
  <h2>Пока это не основное, поэтому будет доработано позже...</h2>
</div>
<div class="modal-footer d-flex justify-content-end dialog-footer-config">
  <button class="btn btn-secondary border-dark"
          (click)="onClose()">{{'SHARED.BUTTON.CLOSE' | translate}}</button>
</div>
